.partner-logos {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Distribuye la imagen y el texto */
  width: 150px;
  height: 180px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Permite que la imagen use el espacio disponible */
  width: 100%;
  height: 120px; /* Tamaño uniforme para las imágenes */
}

.logo-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logo-name {
  font-size: 14px;
  color: white!important ;
}

.a{
  color: white !important;
}