.frame-google {
    width: 760px;
    height: 415px;
    border-radius: 20px;
    margin: 20px;
}

@media (max-width: 350px) {
    .frame-google {
        width: 220px;
        height: 200px;
        text-align: center;
    }
    .section-title {
        margin: 0px;
    }
}

@media (min-width: 350px) {
.frame-google {
    width: 220px;
        height: 200px;
        text-align: center;
}
    /* #services {
        width: 100% !important;
      } */

    
    
        
    
  }

  @media (min-width: 460px) {
    .frame-google {
        width: 250px;
        height: 215px;
    }
        /* #services {
            width: 100% !important;
          } */
    
        
        
            
        
      }

      @media (min-width: 560px) {
        .frame-google {
            width: 450px;
            height: 315px;
        }
            /* #services {
                width: 100% !important;
              } */
        
            
            
                
            
          }
